@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   padding: 0;
   margin: 0;
   @apply font-roboto;
   /* @apply font-roboto bg-light-bg-primary dark:bg-dark-bg-primary; */
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

#scroll-container::-webkit-scrollbar {
   width: 12px;
}
#scroll-container::-webkit-scrollbar-track {
   @apply bg-light-text-hard;
}
#scroll-container::-webkit-scrollbar-thumb {
   @apply bg-light-text-soft;
}
.dark #scroll-container::-webkit-scrollbar-track {
   @apply bg-dark-bg-secondary;
}
.dark #scroll-container::-webkit-scrollbar-thumb {
   @apply bg-dark-text-soft;
}

/* Other Scroll bars */
.main-scrollbar::-webkit-scrollbar {
   width: 8px;
}

.main-scrollbar::-webkit-scrollbar-track {
   @apply bg-light-bg-primary;
}
.main-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-light-text-hard;
}

.dark .main-scrollbar::-webkit-scrollbar-track {
   @apply bg-dark-bg-primary;
}
.dark .main-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-dark-text-hard;
}

.swiper-button-disabled {
   @apply text-gray-500;
}

@media (min-width: 1280px) {
   .details-height {
      height: calc(100vh - 96px);
   }
}

/* Sidebar Scrollbar */
.sidebar-scrollbar::-webkit-scrollbar {
   width: 8px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
   @apply backdrop-blur-md;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-light-text-soft;
}

.dark .sidebar-scrollbar::-webkit-scrollbar-track {
   @apply backdrop-blur-md;
}
.dark .sidebar-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-dark-text-soft;
}
.custom-bullet-active {
   @apply bg-white;
}
