@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

#scroll-container::-webkit-scrollbar {
   width: 20px;
}
#scroll-container::-webkit-scrollbar-track {
   @apply bg-gray-light;
}
#scroll-container::-webkit-scrollbar-thumb {
   @apply bg-dark-text-hard;
}
.dark #scroll-container::-webkit-scrollbar-track {
   @apply bg-gray-dark;
}
.dark #scroll-container::-webkit-scrollbar-thumb {
   @apply bg-dark-text-soft;
}

/* Other Scroll bars */
.main-scrollbar::-webkit-scrollbar {
   width: 8px;
}

.main-scrollbar::-webkit-scrollbar-track {
   @apply bg-light-bg;
}
.main-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-light-text-hard;
}

.dark .main-scrollbar::-webkit-scrollbar-track {
   @apply bg-dark-bg;
}
.dark .main-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-dark-text-hard;
}

.swiper-button-disabled {
   @apply text-gray-500;
}

@media (min-width: 1280px) {
   .details-height {
      height: calc(100vh - 96px);
   }
}

/* Sidebar Scrollbar */
.sidebar-scrollbar::-webkit-scrollbar {
   width: 8px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
   @apply bg-light-bg;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-gray-light;
}

.dark .sidebar-scrollbar::-webkit-scrollbar-track {
   @apply bg-dark-bg;
}
.dark .sidebar-scrollbar::-webkit-scrollbar-thumb {
   @apply bg-gray-dark;
}
